In [11]:
import pandas as pd

In [12]:
df = pd.read_excel("/Users/whoseunassailable/Documents/coding_projects/college_projects/ML_Project/data/scraped_profiles.xlsx")

In [13]:
df.shape

(62573, 17)

In [14]:
df.columns

Index(['ID', 'Acceptance Rate', 'Institution', 'Program', 'Degree Type',
       'Degree's Country of Origin', 'Decision', 'Notification Date',
       'Notification Method', 'Undergrad GPA', 'GRE General', 'GRE Verbal',
       'Analytical Writing', 'Notes', 'Timeline Event', 'Timeline Date',
       'Scraped Timestamp'],
      dtype='object')

In [15]:
df = df.rename(columns={
    "ID": "id",
    "Acceptance Rate": "acceptance_rate",
    "Institution": "institution",
    "Program": "program",
    "Degree Type": "degree_type",
    "Degree's Country of Origin": "degree_origin_country",
    "Decision": "decision",
    "Notification Date": "notification_date",
    "Notification Method": "notification_method",
    "Undergrad GPA": "undergrad_gpa",
    "GRE General": "gre_general",
    "GRE Verbal": "gre_verbal",
    "Analytical Writing": "analytical_writing",
    "Notes": "notes",
    "Timeline Event": "timeline_event",
    "Timeline Date": "timeline_date",
    "Scraped Timestamp": "scraped_timestamp"
})

In [16]:
df.columns

Index(['id', 'acceptance_rate', 'institution', 'program', 'degree_type',
       'degree_origin_country', 'decision', 'notification_date',
       'notification_method', 'undergrad_gpa', 'gre_general', 'gre_verbal',
       'analytical_writing', 'notes', 'timeline_event', 'timeline_date',
       'scraped_timestamp'],
      dtype='object')

In [17]:
drop_columns = ["degree_origin_country", "notification_date", "notification_method", "timeline_event", "timeline_date", "scraped_timestamp"]

In [18]:
df = df.drop(columns=drop_columns)

In [19]:
df.columns

Index(['id', 'acceptance_rate', 'institution', 'program', 'degree_type',
       'decision', 'undergrad_gpa', 'gre_general', 'gre_verbal',
       'analytical_writing', 'notes'],
      dtype='object')

### Add a new gre total column

In [20]:
df['gre_total'] = df['gre_general'] + df['gre_verbal']

In [22]:
df.describe()

,id,acceptance_rate,institution,program,degree_type,decision,undergrad_gpa,gre_general,gre_verbal,analytical_writing,notes,gre_total
count,62561,61487,62561,62518,62561,62561,33005,6955,6094,5655,32319,5966
unique,62238,169,1597,4979,10,8,304,128,69,89,29372,164
top,985544,40%,University of California,Computer Science,PhD,Rejected,4,170,162,4,Email to check portal,329
freq,12,3767,2582,4095,43664,24204,4183,1292,437,1619,178,255