In [2]:
import pandas as pd
import numpy as np
from faker import Faker
import random
from datetime import datetime, timedelta
import string

# Initialize Faker
fake = Faker()
Faker.seed(42)
random.seed(42)
np.random.seed(42)

# Helper functions
def random_phone():
    return f"{random.randint(200, 999)}-{random.randint(200, 999)}-{random.randint(1000, 9999)}"

def random_date(start_date, end_date):
    return fake.date_between(start_date=start_date, end_date=end_date)

def random_gpa():
    return round(random.uniform(2.0, 4.0), 2)

def random_gre():
    return random.randint(260, 340)

def random_toefl():
    return random.randint(60, 120)

# Generate universities
def generate_universities(n=50):
    universities = []
    for _ in range(n):
        uni = {
            'university_name': fake.unique.company() + " University",
            'location': fake.city() + ", " + fake.state_abbr(),
            'application_deadline': random_date(datetime(2024, 1, 1), datetime(2024, 12, 31)),
            'tier': random.choice(['Top', 'Mid', 'Low']),
            'avg_alumni_salary': random.randint(40000, 120000),
            'placement_rate': round(random.uniform(50, 95), 2),
            'value_score': round(random.uniform(3.0, 9.5), 2)
        }
        universities.append(uni)
    return pd.DataFrame(universities)

# Generate students with some dirty data
def generate_students(n=1000):
    students = []
    for _ in range(n):
        # Randomly decide if we'll create a dirty record
        make_dirty = random.random() < 0.15
        
        if make_dirty:
            # Create records with various issues
            dirty_type = random.choice(['missing', 'invalid', 'outlier', 'duplicate'])
            
            if dirty_type == 'missing':
                student = {
                    'first_name': fake.first_name(),
                    'last_name': fake.last_name(),
                    'email': None,  # Missing
                    'gre_score': random_gre(),
                    'toefl_score': random_toefl(),
                    'gpa': random_gpa(),
                    'work_experience': random.randint(0, 60),
                    'preferred_location': fake.city(),
                    'phone': random_phone(),
                    'date_of_birth': fake.date_of_birth(minimum_age=18, maximum_age=35),
                    'financial_status': random.choice(['Low', 'Medium', 'High']),
                    'loan_risk_score': round(random.uniform(1.0, 10.0), 2)
                }
            elif dirty_type == 'invalid':
                student = {
                    'first_name': fake.first_name(),
                    'last_name': fake.last_name(),
                    'email': 'invalid_email',  # Invalid format
                    'gre_score': random.randint(100, 259),  # Below valid range
                    'toefl_score': random.randint(121, 150),  # Above valid range
                    'gpa': round(random.uniform(4.1, 5.0), 2),  # Above valid range
                    'work_experience': -5,  # Negative value
                    'preferred_location': fake.city(),
                    'phone': '123',  # Invalid phone
                    'date_of_birth': fake.date_of_birth(minimum_age=18, maximum_age=35),
                    'financial_status': 'Unknown',  # Invalid value
                    'loan_risk_score': round(random.uniform(1.0, 10.0), 2)
                }
            elif dirty_type == 'outlier':
                student = {
                    'first_name': fake.first_name(),
                    'last_name': fake.last_name(),
                    'email': fake.email(),
                    'gre_score': 340,  # Max score (not invalid but unusual)
                    'toefl_score': 120,  # Max score
                    'gpa': 4.0,  # Perfect GPA
                    'work_experience': 120,  # 10 years experience (unusual for student)
                    'preferred_location': fake.city(),
                    'phone': random_phone(),
                    'date_of_birth': fake.date_of_birth(minimum_age=40, maximum_age=50),  # Older than typical
                    'financial_status': random.choice(['Low', 'Medium', 'High']),
                    'loan_risk_score': round(random.uniform(1.0, 10.0), 2)
                }
        else:
            # Create clean record
            student = {
                'first_name': fake.first_name(),
                'last_name': fake.last_name(),
                'email': fake.email(),
                'gre_score': random_gre(),
                'toefl_score': random_toefl(),
                'gpa': random_gpa(),
                'work_experience': random.randint(0, 60),
                'preferred_location': fake.city(),
                'phone': random_phone(),
                'date_of_birth': fake.date_of_birth(minimum_age=18, maximum_age=35),
                'financial_status': random.choice(['Low', 'Medium', 'High']),
                'loan_risk_score': round(random.uniform(1.0, 10.0), 2)
            }
        
        students.append(student)
    
    # Add some duplicates (5% of records)
    num_duplicates = int(n * 0.05)
    for _ in range(num_duplicates):
        students.append(random.choice(students))
    
    return pd.DataFrame(students)

# Generate programs
def generate_programs(universities, n_per_uni=3):
    programs = []
    program_names = [
        "Computer Science", "Business Administration", "Electrical Engineering",
        "Biology", "Psychology", "Economics", "Mechanical Engineering",
        "Political Science", "Chemistry", "Mathematics", "English Literature",
        "History", "Physics", "Art", "Music"
    ]
    
    for uni_id, uni_row in universities.iterrows():
        for _ in range(random.randint(1, n_per_uni)):
            program = {
                'university_id': uni_id + 1,  # Assuming IDs start at 1
                'program_name': random.choice(program_names),
                'program_level': random.choice(['Undergraduate', 'Graduate']),
                'duration': random.choice([2, 4]),  # Years
                'tuition_fee': random.randint(5000, 50000),
                'avg_program_salary': random.randint(30000, 110000),
                'program_placement_rate': round(random.uniform(50, 95), 2),
                'description': fake.sentence()
            }
            programs.append(program)
    return pd.DataFrame(programs)

# Generate admissions criteria
def generate_admissions(programs):
    admissions = []
    for prog_id, prog_row in programs.iterrows():
        admission = {
            'program_id': prog_id + 1,
            'university_id': prog_row['university_id'],
            'min_gre': max(260, random_gre() - random.randint(0, 20)),
            'min_toefl': max(60, random_toefl() - random.randint(0, 15)),
            'min_gpa': max(2.5, round(random_gpa() - 0.3, 2)),
            'required_work_experience': random.randint(0, 12),
            'admission_year': 2024,
            'avg_admitted_gre': random_gre(),
            'avg_admitted_gpa': random_gpa(),
            'acceptance_rate': round(random.uniform(5, 50), 2)
        }
        admissions.append(admission)
    return pd.DataFrame(admissions)

# Generate historical admission data
def generate_historical_admissions(programs, students, n_per_program=20):
    historical = []
    for prog_id, prog_row in programs.iterrows():
        for _ in range(random.randint(5, n_per_program)):
            student = random.choice(students.to_dict('records'))
            historical.append({
                'program_id': prog_id + 1,
                'university_id': prog_row['university_id'],
                'student_gre': student['gre_score'] if random.random() > 0.1 else None,  # 10% missing
                'student_toefl': student['toefl_score'] if random.random() > 0.1 else None,
                'student_gpa': student['gpa'] if random.random() > 0.1 else None,
                'student_work_experience': student['work_experience'] if random.random() > 0.1 else None,
                'admission_result': random.choice(['Admitted', 'Rejected']),
                'admission_year': random.randint(2018, 2023)
            })
    return pd.DataFrame(historical)

# Generate all data
universities = generate_universities()
students = generate_students()
programs = generate_programs(universities)
admissions = generate_admissions(programs)
historical_admissions = generate_historical_admissions(programs, students)

# Add IDs
universities['university_id'] = range(1, len(universities) + 1)
students['student_id'] = range(1, len(students) + 1)
programs['program_id'] = range(1, len(programs) + 1)
admissions['admission_id'] = range(1, len(admissions) + 1)
historical_admissions['record_id'] = range(1, len(historical_admissions) + 1)

In [3]:
universities

,university_name,location,application_deadline,tier,avg_alumni_salary,placement_rate,value_score,university_id
0,"Rodriguez, Figueroa and Sanchez University","Lake Curtis, WA",2024-11-21,Low,54592,51.13,4.79,1
1,Garza Inc University,"North Jefferyhaven, PA",2024-01-10,Top,58289,83.14,7.40,2
2,Baldwin Ltd University,"Robinsonshire, KY",2024-10-22,Low,51395,76.57,3.21,3
3,Blake and Sons University,"Petersonberg, IL",2024-12-15,Top,68657,60.47,6.91,4
4,Garcia-James University,"Melanieview, AS",2024-01-16,Low,66062,82.22,7.56,5
5,Herrera-Dudley University,"Millerport, MP",2024-08-17,Mid,68893,70.21,4.81,6
6,Ray-Bush University,"Lake Jeremyport, CO",2024-11-08,Top,60926,81.42,5.21,7
7,James Group University,"Franciscostad, IL",2024-09-01,Top,68221,93.07,5.19,8
8,"Zuniga, Wong and Lynch University","New Jessica, GA",2024-06-17,Top,89797,54.35,8.51,9
9,Mayo-Bowman University,"Lake Mark, WI",2024-10-10,Low,74671,86.32,7.74,10
10,Underwood LLC University,"Adamsborough, PW",2024-12-10,Low,56361,93.79,5.46,11
11,"Edwards, Rios and Foster University","Thomasberg, IA",2024-09-28,Low,78427,87.32,7.02,12
12,"Baker, Richards and Hurst University","Coxberg, NY",2024-06-29,Mid,115674,58.65,3.45,13
13,Callahan and Sons University,"Port Erin, PA",2024-01-24,Low,69871,84.79,9.40,14
14,Carlson-Mcdonald University,"Tashatown, TX",2024-09-20,Top,53238,67.11,5.95,15
15,"Dyer, Potter and Mack University","Danielchester, GA",2024-06-14,Mid,61319,66.66,4.36,16
16,"Liu, Baker and Mason University","New Rita, VI",2024-08-16,Mid,49358,77.41,4.11,17
17,"Romero, Gonzalez and Brooks University","New Stephanie, NC",2024-12-01,Low,72087,57.35,5.47,18
18,"Nguyen, Smith and Hickman University","Johnbury, FM",2024-07-26,Low,113000,59.88,5.11,19
19,Miller Group University,"Port Amandaberg, DC",2024-08-28,Top,70021,86.98,8.23,20
20,"Martin, Rose and Obrien University","New Karina, UT",2024-03-14,Mid,75093,52.98,8.94,21
21,Ross-Powers University,"Samuelhaven, NV",2024-02-14,Low,81245,59.57,6.25,22
22,Brown Inc University,"New Jeffrey, CA",2024-09-15,Low,100142,56.43,3.91,23
23,Perez Inc University,"Chadbury, KY",2024-09-01,Low,113579,74.25,7.86,24
24,Ryan Ltd University,"Sanchezfort, AS",2024-05-28,Mid,116484,67.97,4.43,25
25,Davis Group University,"Rodneymouth, VI",2024-09-23,Top,106784,72.21,7.91,26
26,"Valdez, Lucas and Brown University","Laurenville, IA",2024-03-10,Top,60033,78.24,8.15,27
27,"West, Henderson and Ramirez University","Port Sandra, NV",2024-10-21,Mid,118172,52.86,5.48,28
28,"Garcia, Pearson and Fernandez University","North Sarabury, GA",2024-05-28,Mid,109352,61.31,6.60,29
29,Lewis-Morales University,"East Nicholasfurt, KS",2024-12-04,Top,55014,80.68,6.49,30
30,Mitchell-Horton University,"Mooreport, IL",2024-12-19,Mid,84587,55.02,5.83,31
31,"Fitzgerald, Brown and Edwards University","New Thomashaven, GA",2024-01-21,Mid,40425,92.92,8.69,32
32,"Miller, Lopez and Larson University","South David, FM",2024-07-26,Mid,105612,84.29,6.30,33
33,"Wheeler, Harvey and Barnes University","Sarahborough, TN",2024-09-18,Top,79117,87.88,6.30,34
34,Baker and Sons University,"Stephenland, AL",2024-06-16,Top,60032,66.83,4.05,35
35,"Ferrell, Jones and Lewis University","Davidstad, FM",2024-01-26,Low,40074,76.95,6.18,36
36,Wood and Sons University,"Bassport, RI",2024-12-25,Top,87576,89.54,8.41,37
37,"Rice, Contreras and Spencer University","East Josephville, WA",2024-07-20,Mid,71385,52.61,8.71,38
38,Campbell-Clark University,"Jamesview, NY",2024-06-27,Top,51226,82.94,8.30,39
39,Williams-Cook University,"Lake Tina, GA",2024-09-27,Low,56483,55.78,6.09,40
40,"Thornton, Hoffman and Rodriguez University","New Barry, MN",2024-07-31,Low,61643,61.93,8.67,41
41,Jordan Inc University,"Michaelton, MH",2024-05-10,Mid,67760,91.80,7.91,42
42,"Wright, Garcia and Deleon University","Dicksonberg, IA",2024-11-11,Low,66365,82.08,5.59,43
43,Keith Inc University,"Lake Sandra, WY",2024-12-05,Low,88944,69.71,6.36,44
44,"Shields, Cochran and Adams University","South Monicafort, IN",2024-03-13,Top,72493,60.11,5.20,45
45,Bailey-Hoover University,"East Andrew, ID",2024-05-25,Low,112603,60.36,4.43,46
46,Lin-Rasmussen University,"Michaelhaven, MO",2024-09-05,Top,47716,60.30,8.89,47
47,"Rivera, Johnson and Wiley University","Gregoryview, AZ",2024-02-09,Mid,49287,73.14,4.81,48
48,Reed-Hartman University,"Obrienhaven, DE",2024-05-20,Mid,68080,74.27,7.70,49
49,"Lee, Williams and Graham University","West Ryan, TN",2024-12-02,Low,115525,71.27,8.10,50