In [1]:
import pandas as pd
import numpy as np
import os

# Set the file path to your dataset
file_path = r"C:\Users\masood\Downloads\Machine Learning Project\final_dataset_corrupt.csv"

# Check if the file exists
if os.path.exists(file_path):
    # Load the dataset
    df = pd.read_csv(file_path)
    
    # Configure pandas to show more data
    pd.set_option('display.max_columns', None)  # Show all columns
    pd.set_option('display.width', 1000)        # Wider display
    pd.set_option('display.max_rows', 10)       # Show 10 rows
    
    # Display the first 10 rows in a nicer format
    print("First 10 rows of the dataset:")
    display(df.head(10))
    
    # Get dataset shape
    print(f"\nDataset shape: {df.shape} (rows, columns)")

else:
    print(f"File not found at: {file_path}")
    print("Please check if the file exists or if the path is correct.")

First 10 rows of the dataset:

   University ID                                    University Name   Program Type        Location GRE Score  TOEFL Score   GPA  Ranking  Placement Rate (%)  Tuition Fee (USD/year)  Average Pay (USD/year) Student First Name Student Last Name                  Student Email           Phone Date of Birth               Funding Source  Funding Amount  Funding Year                                  Program Name  Program Duration (Years) Application Deadline
0              1  University of California, Berkeley - Undergrad...  Undergraduate        Nebraska     298.0        110.0  2.72    97054               98.62                   68075                  177383            Bradley             Jones     bradley.jones0@example.edu  (203)-744-2631    14-12-1989       Martin, Silva and Reid          194621          2022                   Animal technologist Program                         5           29-08-2025
1              2              Princeton University - Diploma School        Diploma        Maryland     328.0        118.0  3.80    24489               65.59                   47834                   74859             Kendra         Mcfarland  kendra.mcfarland1@example.edu  (655)-615-0763    21-02-2004                 Wells-Warren          158259          2025  International aid/development worker Program                         3           17-09-2025
2              3                       Yale University - MBA School            MBA        Oklahoma     331.0         86.0  2.71     4813               95.95                   76884                  136559             Steven           Harding    steven.harding2@example.edu  (308)-709-8479    20-08-2000           Hernandez-Roberson          490781          2025                Museum/gallery curator Program                         3           01-10-2025
3              4               Columbia University - Diploma School        Diploma        Oklahoma     316.0        113.0  2.52    35276               68.18                   77522                  194840            Brianna              Love      brianna.love3@example.edu  (483)-926-2897    30-01-1997              Gibson and Sons          655164          2015                                Dancer Program                         2           29-09-2025
4              5    California Institute of Technology - MBA School            MBA  North Carolina     302.0         95.0  3.46    86811               93.60                   79694                   50299              Kayla             Jones       kayla.jones4@example.edu  (427)-897-0089    09-04-2001                Hernandez Ltd          781768          2020                Sales professional, IT Program                         5           10-05-2025
5              6                    Stanford University - MS School             MS   Massachusetts     317.0         85.0  2.16    77233               69.54                   86170                   87354            Douglas           Wallace   douglas.wallace5@example.edu  (768)-346-8958    07-01-2000                 Carson-Ortiz          242308          2020           Civil Service fast streamer Program                         1           05-07-2025
6              7               Columbia University - Diploma School        Diploma      New Mexico     330.0        101.0  3.63    46305               72.06                   31359                  126307              Brett         Rodriguez   brett.rodriguez6@example.edu  (250)-744-2801    27-06-2000                 Kelly-Cannon          905181          2023          Education officer, community Program                         1           05-09-2025
7              8     California Institute of Technology - MS School             MS    South Dakota     336.0        104.0  2.63    91776               83.50                   27010                  166651             Rachel           Perkins    rachel.perkins7@example.edu  (512)-927-5666    02-06-1990                 Davis-Greene          575166          2023                 Travel agency manager Program                         1           10-09-2025
8              9                  Princeton University - PhD School            PhD    Pennsylvania     320.0         84.0  2.18     8159               92.86                   49086                   58643              Dylan           Morales     dylan.morales8@example.edu  (865)-981-6661    20-09-1993                  Ortiz-Hogan          486227          2023                        Futures trader Program                         3           05-06-2025
9             10  Massachusetts Institute of Technology - MS School             MS        Nebraska     327.0         97.0  3.04    14577               63.21                   66287                  191715             Daniel             Brock      daniel.brock9@example.edu  (541)-397-6421    04-03-2000  Ross, Saunders and Martinez          465422          2020             Occupational psychologist Program                         5           12-07-2025

Dataset shape: (101000, 22) (rows, columns)

In [3]:
 # Get column names
print("\nColumn names:")
for i, col in enumerate(df.columns):
    print(f"{i}: {col}")

Column names:
0: University ID
1: University Name
2: Program Type
3: Location
4: GRE Score
5: TOEFL Score
6: GPA
7: Ranking
8: Placement Rate (%)
9: Tuition Fee (USD/year)
10: Average Pay (USD/year)
11: Student First Name
12: Student Last Name
13: Student Email
14: Phone
15: Date of Birth
16: Funding Source
17: Funding Amount
18: Funding Year
19: Program Name
20: Program Duration (Years)
21: Application Deadline

In [5]:
# Check missing values in a nicer format
print("\nMissing values summary:")
missing_values = df.isnull().sum().reset_index()
missing_values.columns = ['Column', 'Missing Values']
missing_values['Missing Percentage'] = (missing_values['Missing Values'] / len(df)) * 100
missing_values = missing_values.sort_values('Missing Values', ascending=False)
display(missing_values)

Missing values summary:

                  Column  Missing Values  Missing Percentage
13         Student Email            3030            3.000000
6                    GPA            3030            3.000000
5            TOEFL Score            3008            2.978218
4              GRE Score            2995            2.965347
14                 Phone            2993            2.963366
..                   ...             ...                 ...
8     Placement Rate (%)               0            0.000000
7                Ranking               0            0.000000
3               Location               0            0.000000
2           Program Type               0            0.000000
21  Application Deadline               0            0.000000

[22 rows x 3 columns]

In [7]:
 # Get data types
print("\nData types:")
print(df.dtypes)

Data types:
University ID                int64
University Name             object
Program Type                object
Location                    object
GRE Score                   object
                             ...
Funding Amount               int64
Funding Year                 int64
Program Name                object
Program Duration (Years)     int64
Application Deadline        object
Length: 22, dtype: object

In [9]:
 # Get basic statistics for numerical columns
print("\nSummary statistics for numerical columns:")
display(df.describe())

Summary statistics for numerical columns:

       University ID   TOEFL Score           GPA        Ranking  Placement Rate (%)  Tuition Fee (USD/year)  Average Pay (USD/year)  Funding Amount   Funding Year  Program Duration (Years)
count  101000.000000  97992.000000  97970.000000  101000.000000       101000.000000           101000.000000           101000.000000   101000.000000  101000.000000             101000.000000
mean    50500.500000     98.954068      2.997546   50500.500000           80.011989            52494.002238           124908.369228   504473.167980    2020.000703                  2.998663
std     29156.332931     15.571199      0.577345   29156.332931           11.542622            21699.635339            43250.654796   286482.632235       3.166253                  1.416693
min         1.000000     -1.000000      2.000000       1.000000           60.000000            15000.000000            50001.000000    10001.000000    2015.000000                  1.000000
25%     25250.750000     89.000000      2.500000   25250.750000           70.050000            33610.000000            87499.750000   255296.000000    2017.000000                  2.000000
50%     50500.500000    100.000000      3.000000   50500.500000           80.000000            52521.000000           124916.500000   504172.000000    2020.000000                  3.000000
75%     75750.250000    110.000000      3.500000   75750.250000           90.000000            71374.250000           162326.250000   753791.750000    2023.000000                  4.000000
max    101000.000000    120.000000      4.000000  101000.000000          100.000000            90000.000000           199997.000000   999959.000000    2025.000000                  5.000000

In [11]:
# Get value counts for categorical columns (first few)
print("\nSample value counts for categorical columns:")
categorical_columns = df.select_dtypes(include=['object']).columns
for col in categorical_columns[:3]:  # Show first 3 categorical columns
    print(f"\nValue counts for {col}:")
    display(df[col].value_counts().head())

Sample value counts for categorical columns:

Value counts for University Name:

Stanford University - PhD School                       2158
Massachusetts Institute of Technology - MS School      2128
Princeton University - Undergraduate School            2114
University of Pennsylvania - Diploma School            2090
University of California, Berkeley - Diploma School    2085
Name: University Name, dtype: int64

Value counts for Program Type:

MS               20341
Diploma          20276
PhD              20246
MBA              20073
Undergraduate    20064
Name: Program Type, dtype: int64

Value counts for Location:

Connecticut    6155
New Mexico     6151
Kentucky       5986
Oklahoma       5979
Indiana        4096
Name: Location, dtype: int64

# DATA PREPROCESSING

## Step 2: Data Preprocessing - 
### 1. Handle missing values
### 2. Check data types and convert if necessary
### 3. Feature normalization (for numerical features)
### 4. Encode categorical variables

In [15]:
# Step 2: Data Preprocessing

# 2.1 Handle missing values
print("Handling missing values...")

# For numerical columns, fill missing values with median (more robust than mean for potentially skewed data)
numerical_cols = df.select_dtypes(include=['int64', 'float64']).columns
for col in numerical_cols:
    if df[col].isnull().sum() > 0:
        median_value = df[col].median()
        df[col] = df[col].fillna(median_value)
        print(f"Filled missing values in {col} with median: {median_value}")

# For categorical columns, fill missing values with mode (most frequent value)
categorical_cols = df.select_dtypes(include=['object']).columns
for col in categorical_cols:
    if df[col].isnull().sum() > 0:
        mode_value = df[col].mode()[0]
        df[col] = df[col].fillna(mode_value)
        print(f"Filled missing values in {col} with mode: {mode_value}")

Handling missing values...
Filled missing values in TOEFL Score with median: 100.0
Filled missing values in GPA with median: 3.0
Filled missing values in GRE Score with mode: 277.0
Filled missing values in Student Email with mode: aaron.adkins5485@example.edu
Filled missing values in Phone with mode: 123456

In [17]:
# 2.2 Check data types and convert if necessary
print("\nChecking and converting data types...")

# Convert 'GRE Score' to numeric if it's not already
if 'GRE Score' in df.columns and df['GRE Score'].dtype == 'object':
    df['GRE Score'] = pd.to_numeric(df['GRE Score'], errors='coerce')
    # Fill newly created NaNs (from conversion errors)
    df['GRE Score'] = df['GRE Score'].fillna(df['GRE Score'].median())
    print("Converted 'GRE Score' to numeric")

# Convert 'Date of Birth' to datetime
if 'Date of Birth' in df.columns:
    df['Date of Birth'] = pd.to_datetime(df['Date of Birth'], errors='coerce')
    print("Converted 'Date of Birth' to datetime")

Checking and converting data types...
Converted 'GRE Score' to numeric
Converted 'Date of Birth' to datetime

In [19]:
# 2.3 Feature normalization (for numerical features)
print("\nNormalizing numerical features...")

# Select columns to normalize (exclude ID columns and dates)
cols_to_normalize = ['GRE Score', 'TOEFL Score', 'GPA', 'Ranking', 
                    'Placement Rate (%)', 'Tuition Fee (USD/year)', 
                    'Average Pay (USD/year)']

# Check if columns exist
cols_to_normalize = [col for col in cols_to_normalize if col in df.columns]

# Apply Min-Max scaling
for col in cols_to_normalize:
    min_val = df[col].min()
    max_val = df[col].max()
    df[col] = (df[col] - min_val) / (max_val - min_val)
    print(f"Normalized {col}")

Normalizing numerical features...
Normalized GRE Score
Normalized TOEFL Score
Normalized GPA
Normalized Ranking
Normalized Placement Rate (%)
Normalized Tuition Fee (USD/year)
Normalized Average Pay (USD/year)

In [21]:
# 2.4 Encode categorical variables (memory-efficient approach)
print("\nEncoding categorical variables (memory-efficient approach)...")

# Instead of one-hot encoding all categorical variables which can cause memory issues,
# let's use label encoding for high-cardinality columns and be selective about one-hot encoding

# Choose specific columns for one-hot encoding (with fewer unique values)
# Count unique values in each categorical column
print("\nUnique values in categorical columns:")
for col in categorical_cols:
    unique_count = df[col].nunique()
    print(f"{col}: {unique_count} unique values")

# Choose only categorical columns with fewer unique values for one-hot encoding
categorical_cols_to_encode = []
for col in categorical_cols:
    if df[col].nunique() < 10 and col in ['Program Type', 'Location']:  # Limit to columns with <10 unique values
        categorical_cols_to_encode.append(col)

print(f"\nSelected for one-hot encoding: {categorical_cols_to_encode}")

# Process one column at a time to avoid memory issues
for col in categorical_cols_to_encode:
    print(f"One-hot encoding: {col}")
    dummies = pd.get_dummies(df[col], prefix=col, drop_first=True)
    
    # Add the dummy columns to the dataframe
    df = pd.concat([df, dummies], axis=1)
    
    # Drop the original column
    df = df.drop(col, axis=1)
    
    print(f"Added {dummies.shape[1]} dummy columns for {col}")

# For remaining categorical columns, use label encoding
from sklearn.preprocessing import LabelEncoder

# Identify remaining categorical columns
remaining_cat_cols = [col for col in categorical_cols if col not in categorical_cols_to_encode]
label_encoders = {}

for col in remaining_cat_cols:
    if col in ['University Name', 'Student First Name', 'Student Last Name', 'Student Email']:
        # Skip encoding identifier columns
        continue
        
    le = LabelEncoder()
    df[f'{col}_encoded'] = le.fit_transform(df[col].astype(str))
    label_encoders[col] = le
    print(f"Label encoded: {col}")

# Display the first few rows of the preprocessed dataset
print("\nPreprocessed dataset (first 5 rows):")
display(df.head(5))

Encoding categorical variables (memory-efficient approach)...

Unique values in categorical columns:
University Name: 50 unique values
Program Type: 5 unique values
Location: 34 unique values
GRE Score: 81 unique values
Student First Name: 690 unique values
Student Last Name: 1000 unique values
Student Email: 97970 unique values
Phone: 96998 unique values
Date of Birth: 5843 unique values
Funding Source: 45739 unique values
Program Name: 639 unique values
Application Deadline: 150 unique values

Selected for one-hot encoding: ['Program Type']
One-hot encoding: Program Type
Added 4 dummy columns for Program Type
Label encoded: Location
Label encoded: GRE Score
Label encoded: Phone
Label encoded: Date of Birth
Label encoded: Funding Source
Label encoded: Program Name
Label encoded: Application Deadline

Preprocessed dataset (first 5 rows):

   University ID                                    University Name        Location  GRE Score  TOEFL Score    GPA   Ranking  Placement Rate (%)  Tuition Fee (USD/year)  Average Pay (USD/year) Student First Name Student Last Name                  Student Email           Phone Date of Birth          Funding Source  Funding Amount  Funding Year                                  Program Name  Program Duration (Years) Application Deadline  Program Type_MBA  Program Type_MS  Program Type_PhD  Program Type_Undergraduate  Location_encoded  GRE Score_encoded  Phone_encoded  Date of Birth_encoded  Funding Source_encoded  Program Name_encoded  Application Deadline_encoded
0              1  University of California, Berkeley - Undergrad...        Nebraska     0.4750     0.917355  0.360  0.960930             0.96550                0.707667                0.849236            Bradley             Jones     bradley.jones0@example.edu  (203)-744-2631    1989-12-14  Martin, Silva and Reid          194621          2022                   Animal technologist Program                         5           29-08-2025                 0                0                 0                           1                17                 38            448                    252                   24803                    36                           140
1              2              Princeton University - Diploma School        Maryland     0.8500     0.983471  0.900  0.242458             0.13975                0.437787                0.165724             Kendra         Mcfarland  kendra.mcfarland1@example.edu  (655)-615-0763    2004-02-21            Wells-Warren          158259          2025  International aid/development worker Program                         3           17-09-2025                 0                0                 0                           0                11                 68          55400                   5434                   43248                   326                            81
2              3                       Yale University - MBA School        Oklahoma     0.8875     0.719008  0.355  0.047644             0.89875                0.825120                0.577069             Steven           Harding    steven.harding2@example.edu  (308)-709-8479    2000-08-20      Hernandez-Roberson          490781          2025                Museum/gallery curator Program                         3           01-10-2025                 1                0                 0                           0                25                 71          13199                   4154                   17388                   390                             4
3              4               Columbia University - Diploma School        Oklahoma     0.7000     0.942149  0.260  0.349261             0.20450                0.833627                0.965619            Brianna              Love      brianna.love3@example.edu  (483)-926-2897    1997-01-30         Gibson and Sons          655164          2015                                Dancer Program                         2           29-09-2025                 0                0                 0                           0                25                 56          34414                   2856                   13672                   149                           141
4              5    California Institute of Technology - MBA School  North Carolina     0.5250     0.793388  0.730  0.859513             0.84000                0.862587                0.001987              Kayla             Jones       kayla.jones4@example.edu  (427)-897-0089    2001-09-04           Hernandez Ltd          781768          2020                Sales professional, IT Program                         5           10-05-2025                 1                0                 0                           0                22                 42          27573                   4534                   17160                   522                            42

In [23]:
# Save the preprocessed dataset
preprocessed_path = r"C:\Users\masood\Downloads\Machine Learning Project\preprocessed_dataset.csv"
df.to_csv(preprocessed_path, index=False)
print(f"\nPreprocessed dataset saved to: {preprocessed_path}")

Preprocessed dataset saved to: C:\Users\masood\Downloads\Machine Learning Project\preprocessed_dataset.csv