In [34]:
import pandas as pd

In [35]:
df = pd.read_excel("/Users/whoseunassailable/Documents/coding_projects/college_projects/ML_Project/ai_ml/data/raw/scraped_profiles.xlsx")

In [36]:
df.shape

(109948, 17)

In [37]:
df.columns

Index(['ID', 'Acceptance Rate', 'Institution', 'Program', 'Degree Type',
       'Degree's Country of Origin', 'Decision', 'Notification Date',
       'Notification Method', 'Undergrad GPA', 'GRE General', 'GRE Verbal',
       'Analytical Writing', 'Notes', 'Timeline Event', 'Timeline Date',
       'Scraped Timestamp'],
      dtype='object')

In [38]:
df = df.rename(columns={
    "ID": "id",
    "Acceptance Rate": "acceptance_rate",
    "Institution": "institution",
    "Program": "program",
    "Degree Type": "degree_type",
    "Degree's Country of Origin": "degree_origin_country",
    "Decision": "decision",
    "Notification Date": "notification_date",
    "Notification Method": "notification_method",
    "Undergrad GPA": "undergrad_gpa",
    "GRE General": "gre_general",
    "GRE Verbal": "gre_verbal",
    "Analytical Writing": "analytical_writing",
    "Notes": "notes",
    "Timeline Event": "timeline_event",
    "Timeline Date": "timeline_date",
    "Scraped Timestamp": "scraped_timestamp"
})

In [39]:
df.columns

Index(['id', 'acceptance_rate', 'institution', 'program', 'degree_type',
       'degree_origin_country', 'decision', 'notification_date',
       'notification_method', 'undergrad_gpa', 'gre_general', 'gre_verbal',
       'analytical_writing', 'notes', 'timeline_event', 'timeline_date',
       'scraped_timestamp'],
      dtype='object')

In [40]:
drop_columns = ["degree_origin_country", "notification_date", "notification_method", "timeline_event", "timeline_date", "scraped_timestamp"]

In [41]:
df = df.drop(columns=drop_columns)

In [42]:
df.columns

Index(['id', 'acceptance_rate', 'institution', 'program', 'degree_type',
       'decision', 'undergrad_gpa', 'gre_general', 'gre_verbal',
       'analytical_writing', 'notes'],
      dtype='object')

### Add a new gre total column

In [43]:
df['gre_total'] = df['gre_general'] + df['gre_verbal']

In [44]:
df.describe()

,id,acceptance_rate,institution,program,degree_type,decision,undergrad_gpa,gre_general,gre_verbal,analytical_writing,notes,gre_total
count,109931,102025,109923,108706,108771,108768,47330,13344,12112,11419,64048,11950
unique,109568,172,3104,8710,10,9,357,148,92,99,59273,194
top,985543,40%,University of California,Computer Science,PhD,Accepted,4,170,162,4,Email to check portal,330
freq,12,8605,4126,8055,69240,40493,5526,2223,850,3246,274,527

In [45]:
df.to_excel('../data/processed/loaded_data.xlsx', index=False)

In [46]:
df.shape

(109948, 12)

In [47]:
df.head()

,id,acceptance_rate,institution,program,degree_type,decision,undergrad_gpa,gre_general,gre_verbal,analytical_writing,notes,gre_total
0,879550,31%,Washington University In St. Louis (WashU/WUSTL),English,PhD,Rejected,NaN,NaN,NaN,NaN,NaN,NaN
1,879549,32%,University of California,Bioinformatics and Systems Biology,PhD,Rejected,3.99,NaN,NaN,NaN,Rejected at midnight PDT after interview. my C...,NaN
2,879548,45%,Purdue University,Sociology,PhD,Rejected,NaN,NaN,NaN,NaN,NaN,NaN
3,879547,44%,University of Illinois,Physics,PhD,Accepted,3.56,NaN,NaN,NaN,"Acceptance letter from the department, officia...",NaN
4,879546,40%,Columbia University,History,PhD,Rejected,NaN,NaN,NaN,NaN,email from POI,NaN