In [69]:
import pandas as pd

In [70]:
df = pd.read_excel("/Users/whoseunassailable/Documents/coding_projects/college_projects/ML_Project/ai_ml/data/raw/scraped_profiles.xlsx")

In [71]:
df.shape

(109948, 17)

In [72]:
df.columns

Index(['ID', 'Acceptance Rate', 'Institution', 'Program', 'Degree Type',
       'Degree's Country of Origin', 'Decision', 'Notification Date',
       'Notification Method', 'Undergrad GPA', 'GRE General', 'GRE Verbal',
       'Analytical Writing', 'Notes', 'Timeline Event', 'Timeline Date',
       'Scraped Timestamp'],
      dtype='object')

In [73]:
df = df.rename(columns={
    "ID": "id",
    "Acceptance Rate": "acceptance_rate",
    "Institution": "institution",
    "Program": "program",
    "Degree Type": "degree_type",
    "Degree's Country of Origin": "degree_origin_country",
    "Decision": "decision",
    "Notification Date": "notification_date",
    "Notification Method": "notification_method",
    "Undergrad GPA": "undergrad_gpa",
    "GRE General": "gre_quantitative_reasoning",
    "GRE Verbal": "gre_verbal_reasoning",
    "Analytical Writing": "analytical_writing",
    "Notes": "notes",
    "Timeline Event": "timeline_event",
    "Timeline Date": "timeline_date",
    "Scraped Timestamp": "scraped_timestamp"
})

In [74]:
df.columns

Index(['id', 'acceptance_rate', 'institution', 'program', 'degree_type',
       'degree_origin_country', 'decision', 'notification_date',
       'notification_method', 'undergrad_gpa', 'gre_quantitative_reasoning',
       'gre_verbal_reasoning', 'analytical_writing', 'notes', 'timeline_event',
       'timeline_date', 'scraped_timestamp'],
      dtype='object')

In [75]:
drop_columns = ["degree_origin_country", "notification_date", "notification_method", "timeline_event", "timeline_date", "scraped_timestamp"]

In [76]:
df = df.drop(columns=drop_columns)

In [77]:
df.columns

Index(['id', 'acceptance_rate', 'institution', 'program', 'degree_type',
       'decision', 'undergrad_gpa', 'gre_quantitative_reasoning',
       'gre_verbal_reasoning', 'analytical_writing', 'notes'],
      dtype='object')

### Add a new gre total column

In [78]:
df['gre_total'] = df['gre_quantitative_reasoning'] + df['gre_verbal_reasoning']

In [79]:
df.describe()

,id,acceptance_rate,institution,program,degree_type,decision,undergrad_gpa,gre_quantitative_reasoning,gre_verbal_reasoning,analytical_writing,notes,gre_total
count,109931,102025,109923,108706,108771,108768,47330,13344,12112,11419,64048,11950
unique,109568,172,3104,8710,10,9,357,148,92,99,59273,194
top,985543,40%,University of California,Computer Science,PhD,Accepted,4,170,162,4,Email to check portal,330
freq,12,8605,4126,8055,69240,40493,5526,2223,850,3246,274,527

In [80]:
df.to_excel('../data/processed/loaded_data.xlsx', index=False)